{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Cusco GeoNode / About" %} — {{ block.super }} {% endblock %}

{% block body %}
  <div class="page-header">
    <h2><a href="/"><i class="fa fa-building-o fa-6"></i>Cusco GeoNode</a> / <a href="{% url "about"%}">About</a></h2>
  </div>
  <p>The Cusco GeoNode is a geospatial platform provided by the U.S. Department of State, Humanitarian Information Unit as part of the Secondary Cities project.  The Cusco GeoNode is used for collaborating on and sharing geospatial data among the US Government and partners in Peru.</p>

  <h4>Recent Activity</h4>
  <div style="margin-left:20px;">View a list of recent activity, including new layers or maps on the <a href="{% url "recent-activity" %}">Recent Activity page</a>.</div>
  <br>
  <h4>API</h4>
  <div style="margin-left:20px;">Lean more about API access on the <a href="{% url "about_api" %}">API page</a>.</div>
  <br>
  <h4>Related Sites</h4>
  <div style="margin-left:20px;"><a href="http://www.openstreetmap.org/">OpenStreetMap</a> | <a href="https://data.hdx.rwlabs.org/">HDX</a></div>

{% endblock %}

