{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About RFI GeoNode" %} — {{ block.super }} {% endblock %}

{% block body %}
  <div class="page-header">
    <h2>About RFI GeoNode</h2>
  </div>
  <p>The RFI GeoNode (or Request for Imagery/Information GeoNode) is a digital service provided by the U.S. Department of State, <a href="https://hiu.state.gov" target="_blank">Humanitarian Information Unit (HIU)</a> to coordinate and validate requests by interagency and external partners to the U.S. Government for imagery and information.</p>

{% endblock %}
