{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "Cusco GeoNode / About / API" %} — {{ block.super }} {% endblock %}

{% block body %}
  <div class="page-header">
    <h2><a href="/"><i class="fa fa-building-o fa-6"></i>Cusco GeoNode</a> / <a href="{% url "about"%}">About</a> / <a href="{% url "about_api" %}">API</a></h2>
  </div>
  <p>The Cusco GeoNode is a geospatial platform provided by the U.S. Department of State, Humanitarian Information Unit as part of the Secondary Cities project.  The Cusco GeoNode is used for collaborating on and sharing geospatial data among the US Government and partners in Peru.</p>
  <p>Developers can interact with the Cusco GeoNode through 3 APIs: CSW, OGC Services, and the internal GeoNode API.</p>

  <p>Cusco GeoNode uses <a href="http://pycsw.org/">PyCSW</a> to produce standardized CSW metadata services.</p>  The CSW endpoint is: <a href="/catalogue/csw">/catalogue/csw</a>.  To retrieve metadata records run something like this: <a href="/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&maxRecords=1000&elementsetname=full&typenames=csw:Record&outputschema=http://www.isotc211.org/2005/gmd">/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&maxRecords=1000&elementsetname=full&typenames=csw:Record&outputschema=http://www.isotc211.org/2005/gmd</a>.  This endpoint can be used by other systems to automatically harvest records from the Cusco GeoNode.</p>

  <p>All layers in the Cusco GeoNode are accessible via OGC Services.  The WMS Capabilities document is accessible with: <a href="/geoserver/wms?SERVICE=WMS&REQUEST=GetCapabilities">/geoserver/wms?SERVICE=WMS&REQUEST=GetCapabilities</a>.  This endpoint can be used by geospatial analysts to pull layers directly into their desktop environment (<a href="/docs/integration.html">/docs/integration.html</a>).  OGC services can also be used to pull layers directly from the Cusco GeoNode into web maps to make mashups.</p>


{% endblock %}

