{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "PEPFAR GeoNode / About / API" %} — {{ block.super }} {% endblock %}

{% block body %}
  <div class="page-header">
    <h2><a href="/"><i class="fa fa-retweet fa-6"></i>PEFPAR GeoNode</a> / <a href="{% url "about"%}">About</a> / <a href="{% url "about_api" %}">API</a></h2>
  </div>
  <p>The PEFPAR GeoNode is a digital service provided by the U.S. Department of State, <a href="https://hiu.state.gov" target="_blank">Humanitarian Information Unit (HIU)</a> to support interagency collaboration for the development and maintenance of PEPFAR's spatial data.</p>

  <h4>Users / GIS Analysts</h4>
  <p>Users and GIS analysts can connect to the PEPFAR GeoNode via QGIS, ArcMap, and TileMill.  In QGIS, users can add PEPFAR GeoNode layers as WMS or WFS layers.  See the <a href="/docs/qgis.html">QGIS page</a> in the documentation for more detail.  In ArcMap, use the interoperability extension to add a WMS layer to ArcCatalog.  All the layers should then be available.  In TileMill, simply grab the download url from each respective layer page and use it as the path.</p>

  <h4>Developers</h4>
  <p>Developers can interact with the PEPFAR GeoNode through 3 APIs: CSW, OGC Services, and the internal GeoNode API.</p>

  <p>PEPFAR GeoNode uses <a href="http://pycsw.org/">PyCSW</a> to produce standardized CSW metadata services.</p>  The CSW endpoint is: <a href="/catalogue/csw">/catalogue/csw</a>.  To retrieve metadata records run something like this: <a href="/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&maxRecords=1000&elementsetname=full&typenames=csw:Record&outputschema=http://www.isotc211.org/2005/gmd">/catalogue/csw?request=GetRecords&service=CSW&version=2.0.2&resultType=results&maxRecords=1000&elementsetname=full&typenames=csw:Record&outputschema=http://www.isotc211.org/2005/gmd</a>.  This endpoint can be used by other systems to automatically harvest records from the PEPFAR GeoNode.</p>

  <p>All layers in the PEPFAR GeoNode are accessible via OGC Services.  The WMS Capabilities document is accessible with: <a href="/geoserver/wms?SERVICE=WMS&REQUEST=GetCapabilities">/geoserver/wms?SERVICE=WMS&REQUEST=GetCapabilities</a>.  This endpoint can be used by geospatial analysts to pull layers directly into their desktop environment (<a href="/docs/integration.html">/docs/integration.html</a>).  OGC services can also be used to pull layers directly from the PEPFAR GeoNode into web maps to make mashups.</p>

{% endblock %}
